.htaccess
wp-config.php
wp-content/plugins/theme_helper-master/
wp-content/plugins/wp-migrate-db/
wp-config - local.php
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz